/* The name of this css class MUST be the name of the theme. */
.light {
  /* colors */
  --html-background-color: #F5F5F5;
  --page-background-color: #F5F5F5;
  --content-background-color: #FFF;
  --tag-background-color: #EEE;
  --default-font-color: #111;
  --link-color: #77D;
  --hero-header-title-font-color: #F5f5f5;
  --hero-header-menu-font-color: #F5f5f5;

  /* page */
  --page-max-width: 800px;

  /* fonts */
  --default-font: Verdana, Helvetica, Arial, sans-serif;
  --default-font-size: 1rem;
  --font-size-small: 0.8rem;

  /* links */
  --link-text-decoration: none;

  /* spacing */
  --padding-xsmall: 0.5rem;
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;

  /* lists */
  --navigation-list-style: none;
}
