:root {
  /* page */
  --page-max-width: 800px;

  /* fonts */
  --default-font: Verdana, Helvetica, Arial, sans-serif;
  --default-font-size: 1rem;
  --font-size-small: 0.8rem;  

  /* links */
  --link-text-decoration: none;

  /* spacing */
  --padding-xsmall: 0.5rem;
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;
  --padding-xlarge: 5rem;

  /* lists */
  --navigation-list-style: none;

  /* header */
  --hero-header-menu-font-weight: 600;
}

/* default if there is no theme */
.default {
  /* colors */
  --html-background-color: #F5F5F5;
  --page-background-color: #F5F5F5;
  --content-background-color: #FFF;
  --tag-background-color: #EEE;
  --default-font-color: #111;
  --link-color: #77D;
  --hero-header-title-font-color: #F5f5f5;
  --hero-header-menu-font-color: #F5f5f5;
  --hero-header-title-background-color: rgba(10, 10, 10, 0.6);
}

html {
  background-color: var(--html-background-color);
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  color: var(--default-font-color);
}

a, a.visited {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  word-break: break-all;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1, h2 {
  margin: 0;
  padding: var(--padding-medium) 0 var(--padding-xsmall) 0;
}

h3, h4, h5 {
  margin: 0;
  padding: var(--padding-small) 0 var(--padding-xsmall) 0;
}

ul {
  padding-inline-start: var(--padding-small);
  list-style-position: inside;
}

/*
  This container individually wraps each vertical section of a page.
*/
.contentContainer {
  margin: 0 auto;
  padding: 0 var(--padding-small);
  max-width: var(--page-max-width);
  background-color: var(--content-background-color);
}

.containerPadded {
  padding: 0 var(--padding-small);
}

.tag {
  font-size: var(--font-size-small);
  padding: 3px;
  display: inline-block;
  background-color: var(--tag-background-color);
}