:root {
  /* html */
  --html-background-color: #EEEEEE;

  /* page */
  --page-max-width: 800px;
  --page-background-color: #FFFFFF;

  /* fonts */
  --default-font: Arial, Helvetica, sans-serif;
  --default-font-size: 1rem;
  --default-font-color: #000000;

  /* links */
  --link-color: #5555BB;
  --link-text-decoration: none;

  /* spacing */
  --padding-small: 5px;
  --padding-medium: 10px;

  /* lists */
  --navigation-list-style: none;
}

html {
  background-color: var(--html-background-color);

  font-family: var(--default-font);
  font-size: var(--default-font-size);
  color: var(--default-font-color);
}

a, a.visited {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
}

body {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

.containerPadded {
  padding: var(--padding-small);
}