:root {
  /* html */
  --html-background-color: #F5F5F5;

  /* page */
  --page-max-width: 800px;
  --page-background-color: #FFF;

  /* fonts */
  --default-font: Verdana, Helvetica, Arial, sans-serif;
  --default-font-size: 1rem;
  --default-font-color: #111;
  --font-size-small: 0.8rem;

  /* links */
  --link-color: #77D;
  --link-text-decoration: none;

  /* spacing */
  --padding-xsmall: 0.5rem;
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;

  /* lists */
  --navigation-list-style: none;
}

html {
  background-color: var(--html-background-color);

  font-family: var(--default-font);
  font-size: var(--default-font-size);
  color: var(--default-font-color);
}

a, a.visited {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h3 {
  margin: var(--padding-small) 0 var(--padding-xsmall) 0;
}

ul {
  padding-inline-start: var(--padding-small);
  list-style-position: inside;
}

.containerPadded {
  padding: 0 var(--padding-small);
}