.blogPostContainer {
  max-width: var(--page-max-width);
  padding: var(--padding-small) 0;
}

.blogPostContainer img {
  max-width: 100%;
}

.metaContainer {
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.pinned {
  margin: 0 var(--padding-xsmall);
  display: inline-block;
}

.featuredImageContainer {
  margin: var(--padding-small) 0;
}

.featuredImage {
  height: 100%;
  width: auto;
} 

/* mobile styles */
@media only screen and (max-width: 640px) {
  .metaContainer {
    flex-direction: column;
  }

  .tagContainer {
    margin-top: var(--padding-xsmall);
  }
}

