.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.container h1 {
  margin: 0;
  padding: 0;

  font-weight: var(--hero-header-title-font-weight);
  color: var(--hero-header-title-font-color);
}

.container ul {
  padding-inline-start: 0;
}

.menuContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navigationLinks {
  list-style: var(--navigation-list-style);
  text-align: right;
}

/* desktop styles */
@media only screen and (min-width: 641px) {
  .desktopHeroImage {
    width: 100vw;
  }
  
  .mobileHeroImage {
    display: none;
  }
}

/* mobile styles */
@media only screen and (max-width: 640px) {
  .desktopHeroImage {
    display: none;
  }
  
  .mobileHeroImage {
    width: 100vw;
  }
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: normal;
  background-color: var(--hero-header-title-background-color);
  padding: var(--padding-xsmall);
}

.titleContainer a {
  word-break: normal;
}

.navigationLink {
  display: inline-block;
}

.navigationLink {
  margin-right: var(--padding-small);
  background-color: var(--hero-header-title-background-color);
  padding: var(--padding-xsmall);
}

.navigationLink a {
  color: var(--hero-header-menu-font-color);
}