.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container ul {
  padding-inline-start: 0;
}

.navigationLinks {
  list-style: var(--navigation-list-style);
  margin-left: var(--padding-medium);
  text-align: right;
}

.navigationLink {
  display: inline-block;
}

.navigationLink:not(:last-child) {
  margin-right: var(--padding-small);
}